{% extends 'admin.base.html' %}

{% load staticfiles %}

{% block title %} Statistic Index {% endblock title %}

{% block content %}
<br><br><br>
<ul>
    <li>Number of documents: {{ n_reviews }}</li>
    <li>Number of words: {{ n_words }}</li>
    <li>Number of unique words: {{ n_unique_words }}</li>
    <li>Number of manually labelled_documents (for classification): {{ n_manually_labelled_data }}</li>
    <li>Number of automatically labelled_documents (for classification): {{ n_automatically_labelled_data }}</li>
    <li>Classification confusion matrix: <br><img src="{% static plot.png %}{{ classification_confusion_matrix }}" alt="Not found"></li>
</ul>

{% endblock content %}